################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sadalene.Admin/obj/Release/net10.0/compressed/0c7mau0pgg-{0}-61n19gt1b8-61n19gt1b8.gz
/Sadalene.Admin/obj/Release/net10.0/compressed/z9tuy577s9-{0}-xtxxf3hu2r-xtxxf3hu2r.gz
/Sadalene.Admin/obj/Release/net10.0/compressed/xxvsmzlleq-{0}-0j3bgjxly4-0j3bgjxly4.gz
/Sadalene.Admin/obj/Release/net10.0/compressed/xxh06cmq1d-{0}-lzl9nlhx6b-lzl9nlhx6b.gz
/Sadalene.Admin/obj/Release/net10.0/compressed/wqgwt6ue7a-{0}-4v8eqarkd7-4v8eqarkd7.gz
/Sadalene.Admin/obj/Release/net10.0/compressed/wqbx09st3z-{0}-y7v9cxd14o-y7v9cxd14o.gz
